.title_block{
    background-color: #FFA800;
    border-radius: 10px;
    padding: 10px 0 10px 0;
    margin: 2% 5% 2% 5%;
    width: 90%;
    
}
.component{
    display: flex;
    flex-direction: column;
    
}
.title_block > h1{
    text-align: center;
}

.main_block{
    display: flex;
    justify-content: center;
}

.left_block{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.header{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 3rem;
    height: 4rem;
}

.header > ul{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.list{
    list-style-type: none;
    padding: 0 10% 0 5%;
}

.right_block{
    width: 20%;
    background-color: #fff;
    margin: 0 0 0 5%;
    text-align: center;
    border-radius: 5px;
}

.purchase, .discount_button{
    padding: 2%;
    margin: 10% 0 10% 0;
    border-radius: 20px;
    border: none;
    color: #fff;
    border-color: #fff;
    background-color: #FFA800;
}
.purchase:hover, .discount_button:hover{
    background-color: rgb(252, 178, 29);
}
.subcomponent{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    width: 100%;
    height: 8rem;
    background-color: #fff;
    align-items: center;
    margin-bottom: 2rem;
}
.subcomponent p{
    margin-right: 10rem;
}
.subcomponent h3{
    margin-right: 7.5rem;
    width: 15rem;
}
.subcomponent img{
    width: 7rem;
    height: 7rem;
    margin-left: 2rem;
    text-align: center;
}
.header_context ul{
    display: flex;
    flex-direction: row;
}
/* .title{

} */
.component_product_price 
{
    margin-top: 100px;
    color: red;
    font-size: 25px;
    font-weight: bold;
}

.region{
    width: 90%;
    justify-content: center;
    border-radius: 3rem;
    border: solid 0.5px;
    height: 10%;
    padding-bottom: 1%;
}

.other_address{
    text-align: center;
}

.component_product_price{
    padding-bottom: 6%;
}