.component_page_block_main 
{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}

.component_page_block1 
{
    width: 280px;
    height: 400px;
    background-color: #FFFFFF;
    border-radius: 5px;
}

.component_page_block1 h3 
{
    padding-top: 10px;
    text-align: center;
}

.component_page_block2 h3 
{
    padding-top: 15px;
    padding-left: 80px;
    
}

.component_page_block2 
{
    width: 1000px;
    height: 350px;
    background-color: #FFFFFF;
    border-radius: 5px;
}

.component_page_block2_img_text 
{
    display: flex;
    justify-content: space-evenly;
}

.component_display_product_number
{
    width: 1000px;
    height: 250px;
    background-color: #FFFFFF;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    border-radius: 5px;
}

.component_block_information 
{
    display: flex;
    text-align: justify;
    flex-direction: column;
    width: 50%;
}

.component_page_block3 {
    display: flex;
    justify-content: end;
    padding-right: 100px;
    margin-top: 50px;
}

.component_block_information 
{
    display: flex;
}

.component_product_price 
{
    margin-top: 100px;
    color: red;
    font-size: 25px;
    font-weight: bold;
}

.component_block_information h3 {
    font-size: 20px;
}